<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{/fragments/layout}">
<head>
<title>Lesson</title>
</head>
<body>
	<!-- page content -->
	<div class="right_col" role="main" data-layout-fragment="content">
		<div class="">
			<div class="clearfix"></div>
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="x_panel">
						<div class="x_title">
							<h2>
								Lesson <span th:text="${lesson.id}">1</span>
							</h2>
							<a class="btn btn-success navbar-right"
								data-th-href="@{'/student/viewTestsLesson/'+${lesson.id}}">Play
								test</a>
							<ul class="nav navbar-right panel_toolbox">
								<li><a class="collapse-link"><i
										class="fa fa-chevron-up"></i></a></li>

							</ul>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<embed src="/lessons/cours_6eme.pdf" width="100%" height="600px"
								type='application/pdf'>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /page content -->
</body>
</html>