<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{/fragments/layout}">
<head>
<title>Lesson Tests</title>
</head>

<body>
	<!-- page content -->
	<div class="right_col" role="main" data-layout-fragment="content">
		<div class="">
			<div class="page-title">
				<div class="title_left" style="width: 100%">
					<h3>
						Tests for Lesson <span th:text="${idLesson}"></span>
					</h3>
				</div>
			</div>

			<div class="clearfix">
				<br> <br> <br>
			</div>

			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12" th:each="test,incr:${tests}">
					<div class="x_panel tile fixed_height_320 overflow_hidden">
						<div class="x_title">
							<h2>
								<i class="fa fa-book"></i> Test <span th:text="${incr.count}">1</span>
							</h2>
							<ul class="nav navbar-right panel_toolbox">
								<li><a class="collapse-link"><i
										class="fa fa-chevron-up"></i></a></li>
								<li class="dropdown"><a href="#" class="dropdown-toggle"
									data-toggle="dropdown" role="button" aria-expanded="false"></a>
								</li>
								<li><a class="close-link"><i class="fa fa-close"></i></a></li>
							</ul>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<h2 class="name_title" style="text-transform: uppercase;"
								th:text="${test.testTitle}">IDENTIFICATION OF SOME
								AREAS OF COMPUTER APPLICATIONS</h2>
							<br>
							<p class="hidden">Short Description</p>

							<div class="divider hidden"></div>

							<p class="hidden">If you've decided to go in development mode
								and tweak all of this a bit, there are few things you should do.</p>
							<div class="divider"></div>
							<a class="btn btn-success navbar-right"
								data-th-href="@{'/student/viewTest/'+${test.id}}"><i
								class="fa fa-pencil" style="margin-right: 6px"></i>Write Test</a>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /page content -->

</body>
</html>