<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{/fragments/layout}">
<head>
<title>Result</title>
</head>

<body>

	<!-- page content -->
	<div class="right_col" role="main" data-layout-fragment="content">
		<div class="">
			<div class="page-title">
				<div class="title_left">
					<h3>
						Result of Test <span th:text="${testId}"></span>:<span
							th:text="${testTitle}"
							style="text-transform: uppercase; margin-left: 5px">Test </span>
					</h3>
				</div>
			</div>

			<div class="clearfix">
				<br> <br> <br>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-6"></div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="x_panel tile fixed_height_320 overflow_hidden">
						<div class="x_title">
							<h2>
								Test <span th:text="${testId}">1</span>
							</h2>
							<ul class="nav navbar-right panel_toolbox">
								<li><a class="collapse-link"><i
										class="fa fa-chevron-up"></i></a></li>
								<li class="dropdown"><a href="#" class="dropdown-toggle"
									data-toggle="dropdown" role="button" aria-expanded="false"></a>
								</li>
							</ul>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">


							<marquee>
								<h2 class="name_title" th:text="${grade}">YOUR Grade</h2>
							</marquee>
							<br>
							<br>
							<br>
							<br>
							<div align="center">
								<h2 class="name_title">
									YOUR SCORE IS <span style="margin-left: 25px;margin-right: 5px"
										th:text="${score}"></span>/<span style="margin-left: 5px"
										th:text="${totalScore}"></span>
								</h2>
							</div>
							<br>
							<div class="divider"></div>
							<a class="btn btn-success navbar-right" style="margin-right: 50px"
								data-th-href="@{'/student/showAnswersTest/'+${testId}}"><i
								class="fa fa-check" style="margin-right: 6px"></i>Show Answers</a>
							<a class="btn btn-primary navbar-right" style="margin-right: 50px"
								data-th-href="@{'/student/viewTestsLesson/'+${lessonId}}"><i
								class="fa fa-arrow-left" style="margin-right: 6px"></i>Back to tests</a>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6"></div>
			</div>
		</div>
	</div>
	<!-- /page content -->

</body>
</html>