<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{/fragments/layout}">
<head>
<title>Test Answers</title>
</head>

<body>

	<!-- page content -->
	<div class="right_col" role="main" data-layout-fragment="content">
		<div class="">
			<div class="page-title">
				<div class="title_left">
					<h3>
						Answers for Test <span th:text="${test.id}"></span>:<span
							th:text="${test.testTitle}"
							style="text-transform: uppercase; margin-left: 5px">Test </span>
					</h3>
				</div>
			</div>

			<div class="clearfix"></div>
			<div class="row">
				<form action="">
					<input type="hidden" name="testId" th:value="${test.id}"> <input
						type="hidden" name="utilisateurId" th:value="${session.idUser}">
					<input type="hidden" name="testTitle" th:value="${test.testTitle}">
					<div class="col-md-6 col-sm-6 col-xs-12"
						th:each="question, incr: ${test.questions}">
						<div class="x_panel tile fixed_height_320 overflow_hidden">
							<div class="x_title">
								<h2>
									Question <span th:text="${incr.count}">1</span>
								</h2>
								<ul class="nav navbar-right panel_toolbox">
									<li>(</li>
									<li th:text="${question.questionScore}"></li>
									<li>pt)</li>
								</ul>
								<div class="clearfix"></div>
							</div>
							<div class="x_content">
								<h2 class="name_title" th:text="${question.questionTitle}">Environnement
									Informatique</h2>
								<br> <input type="hidden" name="questionId"
									th:value="${question.id}">

								<div class="divider"></div>
								<ul style="list-style: none">
									<li style="color: red"><input type="radio"
										th:name="'question_'+${question.id}"
										th:value="${question.rightAnswer}" /><label
										style="margin-left: 5px" th:text="${question.rightAnswer}"></label>
									</li>
									<li th:each="answer, stat: ${question.wrongAnswers}"><input
										type="radio" th:name="'question_'+${question.id}"
										th:value="${answer.id}" /><label style="margin-left: 5px"
										th:text="${answer.wrongAnswer}"></label></li>
								</ul>
								<p>Answer: <span style="color: green" th:text="${question.rightAnswer}"></span></p>
								
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
					<!-- 				<ul class="nav nav-pills"> -->
					<!-- 				<li class="nav-item" th:each="incr: ${#numbers.sequence(0,test.questions.totalPages -1)}"> -->
					<!-- 				<a th:text="${incr}" class="nav-link"></a> -->
					<!-- 				</li> -->
					<!-- 				</ul> -->
					<a class="btn btn-success navbar-right"
						data-th-href="@{'/student/viewTestsLesson/'+${test.lesson.id}}"><i
						class="fa fa-arrow-left" style="margin-right: 6px"></i>Back to
						Tests</a>
				</form>
			</div>
		</div>
	</div>
	<!-- /page content -->

</body>
</html>