<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{/fragments/layout}">
<head>
<title>Users</title>
</head>

<body>

<!-- page content -->
<div class="right_col" role="main" data-layout-fragment="content">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Contacts</h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">
          <div class="x_content">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12 text-center"></div>
              <div class="clearfix"></div>

              <div class="col-md-4 col-sm-4 col-xs-12 profile_details" th:each="user : ${users}">
                <div class="well profile_view">
                  <div class="col-sm-12">
                    <h4 class="brief"><i th:text="${user.role}"></i></h4>
                    <div class="left col-xs-7">
                      <h2 th:text="${user.username}">Nicole Pearson</h2>
                      <p><strong>About: </strong><h4 th:text="${user.role}"> Web Designer / UX / Graphic Artist / Coffee Lover</h4>  </p>
                      <ul class="list-unstyled">
                        <li><i class="fa fa-building"></i> Address: </li>
                        <li><i class="fa fa-phone"></i> Phone #: <i th:text="${user.phone}"></i></li>
                      </ul>
                    </div>
                    <div class="right col-xs-5 text-center">
                      <img src="/images/user.png" alt="" class="img-circle img-responsive">
                    </div>
                  </div>
                  <div class="col-xs-12 bottom text-center">
                    <div class="col-xs-12 col-sm-6 emphasis">
                    </div>
                    <div class="col-xs-12 col-sm-6 emphasis">
                      <button type="button" class="btn btn-primary btn-xs">
                        <i class="fa fa-user"> </i> View Profile
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->
        
</body>
</html>