<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{/fragments/layout}">
<head>
<title>Modules</title>
</head>

<body>

	<!-- page content -->
	<div class="right_col" role="main" data-layout-fragment="content">
		<div class="">
			<div class="page-title row">
				<div class="title_left">
					<div class="col-md-6">
						<h3></h3>
					</div>
				</div>
				<div class="col-md-6" align="right"
					style="margin-bottom: 15px; margin-top: 15px">
					<button class="btn btn-primary " data-toggle="modal"
						data-target="#moduleModalNew">
						<i class="fa fa-plus"> Add New Module</i>
					</button>
				</div>
			</div>

			<div class="clearfix"></div>

			<div class="row">
				<div class="col-md-12">
					<div class="x_panel">
						<div class="x_title">
							<h2>Modules</h2>
							<ul class="nav navbar-right panel_toolbox">
								<li><a class="collapse-link"><i
										class="fa fa-chevron-up"></i></a></li>
								<li class="dropdown"><a href="#" class="dropdown-toggle"
									data-toggle="dropdown" role="button" aria-expanded="false"></i></a>
								</li>
								<li><a class="close-link"><i class="fa fa-close"></i></a></li>
							</ul>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<!-- chapter list -->
							<table id="modules" class="table table-striped projects">
								<thead>
									<tr>
										<th>Code</th>
										<th>Module Title</th>
										<th>Module Description</th>
										<th>Date of Creation</th>
										<th style="width: 20%">#Edit</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="module : ${modules}">
										<td><a th:text="${module.id}">001</a></td>
										<td th:text="${module.moduleTitle}">Selecting and
											determining Hardware and Software needs</td>
										<td th:text="${module.description}">Identify some areas
											of computer applications; Enumerate types of software;
											Enumerate examples of system software, applications software;
											and select material and software needs for specific purpose</td>
										<td th:text="${module.createdDate}">22.04.2019</td>
										<td><a href="#" class="btn btn-primary btn-xs"><i
												class="fa fa-eye"></i> View </a> <a
											data-th-href="@{'/api/modules/'+${module.id}}"
											class="btn btn-info btn-xs eModuleBtn"><i
												class="fa fa-pencil"></i> Edit </a> <a href="#"
											class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i>
												Delete </a></td>
									</tr>
								</tbody>
							</table>
							<!-- end chapter list -->

						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- lesson modal -->
		<div id="moduleModalNew" class="modal fade" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<form id="antoform" class="form-horizontal calender" role="form"
						th:action="@{/admin/saveModule}" th:object="${moduleForm}" method="post">

						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">New Module Entry</h4>
						</div>
						<div class="modal-body">
							<div id="testmodal" style="padding: 7px 25px;">
								<div class="form-group">
									<label class="col-sm-3 control-label">Title</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="titleModule"
											name="title" th:field="*{moduleTitle}">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Description</label>
									<div class="col-sm-9">
										<textarea class="form-control" style="height: 40px;"
											id="descr" name="descrModule" th:field="*{moduleDescription}"></textarea>
									</div>
								</div>

							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default antoclose"
								data-dismiss="modal">Close</button>
							<input type="submit" class="btn btn-primary antosubmit"
								value="Save" />
						</div>
					</form>
				</div>
			</div>
		</div>

		<div id="moduleModalEdit" class="modal fade" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<form id="antoform2" class="form-horizontal calender" role="form"
					th:action="@{/admin/editModule}" th:object="${moduleForm}"
					method="post">
					<div class="modal-content">

						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel2">Edit Chapter
								Entry</h4>
						</div>
						<div class="modal-body">

							<div id="testmodal2" style="padding: 5px 20px;">
								<div class="form-group">
									<label class="col-sm-3 control-label">Title</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="titleModule"
											name="title2" th:field="*{moduleTitle}"> <input
											type="text" class="form-control hidden" id="idModule"
											name="title2" th:field="*{moduleId}">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Description</label>
									<div class="col-sm-9">
										<textarea class="form-control" style="height: 55px;"
											id="descrModule" name="descr" th:field="*{moduleDescription}"></textarea>
									</div>
								</div>

							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default antoclose2"
								data-dismiss="modal">Close</button>
							<input type="submit" class="btn btn-primary antosubmit"
								value="Save
							changes" />
						</div>

					</div>
				</form>
			</div>
		</div>

	</div>

	<!-- /page content -->
</body>
</html>