<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{/fragments/layout}">
<head>
<title>Questions</title>
</head>

<body>

	<!-- page content -->
	<div class="right_col" role="main" data-layout-fragment="content">
		<div class="">
			<div class="page-title row">
				<div class="title_left">
					<div class="col-md-6">
						<h3></h3>
					</div>
				</div>
				<div class="col-md-6" align="right"
					style="margin-bottom: 15px; margin-top: 15px">
					<button class="btn btn-primary " data-toggle="modal"
						data-target="#questionModalNew">
						<i class="fa fa-plus"> Add New Question</i>
					</button>
				</div>
			</div>

			<div class="clearfix"></div>

			<div class="row">
				<div class="col-md-12">
					<div class="x_panel">
						<div class="x_title">
							<h2>Questions</h2>
							<ul class="nav navbar-right panel_toolbox">
								<li><a class="collapse-link"><i
										class="fa fa-chevron-up"></i></a></li>
								<li class="dropdown"><a href="#" class="dropdown-toggle"
									data-toggle="dropdown" role="button" aria-expanded="false"></i></a>
								</li>
								<li><a class="close-link"><i class="fa fa-close"></i></a></li>
							</ul>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<!-- chapter list -->
							<table id="questions" class="table table-striped projects">
								<thead>
									<tr>
										<th>Code</th>
										<th>Type</th>
										<th>Test</th>
										<th>Title</th>
										<th>Answer</th>
										<th>Score</th>
										<th>Creation Date</th>
										<th style="width: 20%">#Edit</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="question : ${questions}">
										<td><a th:text="${question.id}">001</a></td>
										<td th:text="${question.questionType}">Selecting and
											determining Hardware and Software needs</td>
										<td th:text="${question.tests.testTitle}">Selecting and
											determining Hardware and Software needs</td>
										<td th:text="${question.questionTitle}">Identify some
											areas of computer applications; Enumerate types of software;
											Enumerate examples of system software, applications software;
											and select material and software needs for specific purpose</td>
										<td><a th:text="${question.rightAnswer}">001</a></td>
										<td><a th:text="${question.questionScore}">001</a></td>
										<td th:text="${question.createdDate}">22.04.2019</td>
										<td><a href="#" class="btn btn-primary btn-xs"><i
												class="fa fa-eye"></i> View </a> <a
											data-th-href="@{'/api/questions/'+${question.id}}"
											class="btn btn-info btn-xs eQuestionsBtn"><i
												class="fa fa-pencil"></i> Edit </a> <a href="#"
											class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i>
												Del </a></td>
									</tr>
								</tbody>
							</table>
							<!-- end chapter list -->

						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- lesson modal -->
		<div id="questionModalNew" class="modal fade" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<form id="antoform" class="form-horizontal calender" role="form"
						th:action="@{/admin/saveQuestion}" th:object="${questionForm}"
						method="post">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">New Question Entry</h4>
						</div>
						<div class="modal-body">
							<div id="testmodal" style="padding: 7px 25px;">
								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">Test</label>
									<div class="col-md-9 col-sm-9 col-xs-12">
										<select class="select2_single form-control" tabindex="-1" th:field="*{idTest}">
											<option th:each="test : ${tests}" th:value="${test.id}" th:text="${test.testTitle}">Test 1</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Title</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="titleQuestion"
											name="title" th:field="*{questionTitle}">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Question Score</label>
									<div class="col-sm-9">
										<input type="number" class="form-control" id="title2" 
											name="title2" th:field="*{questionScore}">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">Type</label>
									<div class="col-md-9 col-sm-9 col-xs-12">
										<select class="select2_single form-control" tabindex="-1"
											id="type" th:field="*{questionType}">
											<option value="MCQ">MCQ</option>
											<option value="TRUE_FALSE">TRUE/FALSE</option>
										</select>
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-3 control-label">Right Answer</label>
									<div class="col-sm-9">
										<input class="form-control"
											id="descr" name="descrChapter" th:field="*{rightAnswer}" />
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Wrong Answer 1</label>
									<div class="col-sm-9">
										<input type="text" class="form-control wrong_answer_new"
											name="wrong_answer1" th:field="*{wrongAnswer1}">
									</div>
								</div>
								<div class="form-group wrong_answer">
									<label class="col-sm-3 control-label">Wrong Answer 2</label>
									<div class="col-sm-9">
										<input type="text" class="form-control"
											name="wrong_answer2" th:field="*{wrongAnswer2}">
									</div>
								</div>
								<div class="form-group wrong_answer">
									<label class="col-sm-3 control-label">Wrong Answer 3</label>
									<div class="col-sm-9">
										<input type="text" class="form-control"
											name="wrong_answer3" th:field="*{wrongAnswer3}">
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default antoclose"
								data-dismiss="modal">Close</button>
							<input type="submit" class="btn btn-primary antosubmit"
								value="Save" />
						</div>
					</form>
				</div>
			</div>
		</div>

		<div id="ChapterModalEdit" class="modal fade" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<form id="antoform2" class="form-horizontal calender" role="form"
						th:action="@{/editQuestion}" th:object="${questionForm}"
						method="post">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel2">Edit Question
								Entry</h4>
						</div>
						<div class="modal-body">

							<div id="testmodal2" style="padding: 5px 20px;">

								<div class="form-group">
									<label class="col-sm-3 control-label">Title</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="titleQuestionEdit"
											name="title2" th:field="*{questionTitle}"> <input
											type="text" class="form-control hidden" id="idQuestion"
											name="idQuestion" th:field="*{questionId}">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Description</label>
									<div class="col-sm-9">
										<textarea class="form-control" style="height: 55px;"
											id="descrdescrQuestionEdit" name="descrChapterEdit"
											th:field="*{rightAnswer}"></textarea>
									</div>
								</div>

							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default antoclose2"
								data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary antosubmit2">Save
								changes</button>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>

	<!-- /page content -->
</body>
</html>