<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{/fragments/layout}">
<head>
<title>Tests</title>
</head>

<body>

	<!-- page content -->
	<div class="right_col" role="main" data-layout-fragment="content">
		<div class="">
			<div class="page-title row">
				<div class="title_left">
					<div class="col-md-6">
						<h3></h3>
					</div>
				</div>
				<div class="col-md-6" align="right"
					style="margin-bottom: 15px; margin-top: 15px">
					<button class="btn btn-primary " data-toggle="modal"
						data-target="#testModalNew">
						<i class="fa fa-plus"> Add New Test</i>
					</button>
				</div>
			</div>

			<div class="clearfix"></div>

			<div class="row">
				<div class="col-md-12">
					<div class="x_panel">
						<div class="x_title">
							<h2>Tests</h2>
							<ul class="nav navbar-right panel_toolbox">
								<li><a class="collapse-link"><i
										class="fa fa-chevron-up"></i></a></li>
								<li class="dropdown"><a href="#" class="dropdown-toggle"
									data-toggle="dropdown" role="button" aria-expanded="false"></i></a>
								</li>
								<li><a class="close-link"><i class="fa fa-close"></i></a></li>
							</ul>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<!-- chapter list -->
							<table id="modules" class="table table-striped projects">
								<thead>
									<tr>
										<th>Code</th>
										<th>Lesson</th>
										<th>Test Title</th>
										<th>Date of Creation</th>
										<th style="width: 20%">#Edit</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="test : ${tests}">
										<td><a th:text="${test.id}">001</a></td>
										<td th:text="${test.lesson.lessonTitle}">Selecting and
											determining Hardware and Software needs</td>
										<td th:text="${test.testTitle}">Identify some areas</td>
										<td th:text="${test.createdDate}">22.04.2019</td>
										<td><a href="#" class="btn btn-primary btn-xs"><i
												class="fa fa-eye"></i> View </a> <a
											data-th-href="@{'/api/tests/'+${test.id}}"
											class="btn btn-info btn-xs eTestBtn"><i
												class="fa fa-pencil"></i> Edit </a> <a href="#"
											class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i>
												Delete </a></td>
									</tr>
								</tbody>
							</table>
							<!-- end chapter list -->

						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- lesson modal -->
		<div id="testModalNew" class="modal fade" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<form id="antoform" class="form-horizontal calender" role="form"
						th:action="@{/admin/saveTest}" th:object="${testForm}" method="post">

						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">New Test Entry</h4>
						</div>
						<div class="modal-body">
							<div id="testmodal" style="padding: 7px 25px;">
								<div class="form-group">
									<label class="col-sm-3 control-label">Title</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="titleTest"
											name="title" th:field="*{testTitle}">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Lesson</label>
									<div class="col-sm-9">
										<select class="form-control" style="height: 40px;"
											id="id" name="idModule" th:field="*{idLesson}">
											<option th:each="lesson : ${lessons}" th:value="${lesson.id}"
												th:text="${lesson.lessonTitle}"></option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default antoclose"
								data-dismiss="modal">Close</button>
							<input type="submit" class="btn btn-primary antosubmit"
								value="Save" />
						</div>
					</form>
				</div>
			</div>
		</div>

		<div id="testModalEdit" class="modal fade" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<form id="antoform2" class="form-horizontal calender" role="form"
					th:action="@{/admin/editTest}" th:object="${testForm}"
					method="post">
					<div class="modal-content">

						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel2">Edit Test
								Entry</h4>
						</div>
						<div class="modal-body">

							<div id="testmodal2" style="padding: 5px 20px;">
								<div class="form-group">
									<label class="col-sm-3 control-label">Title</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="titleTest"
											name="title2" th:field="*{testTitle}"> <input
											type="text" class="form-control hidden" id="idTest"
											name="title2" th:field="*{id}">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Lesson</label>
									<div class="col-sm-9">
										<select class="form-control" style="height: 40px;"
											id="idLesson" name="idModule" th:field="*{idLesson}">
											<option th:each="lesson : ${lessons}" th:value="${lesson.id}"
												th:text="${lesson.lessonTitle}"></option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default antoclose2"
								data-dismiss="modal">Close</button>
							<input type="submit" class="btn btn-primary antosubmit"
								value="Save
							changes" />
						</div>

					</div>
				</form>
			</div>
		</div>

	</div>

	<!-- /page content -->
</body>
</html>