<div class="top_nav" data-th-fragment="top-navigation">
	<div class="nav_menu">
		<nav>
			<div class="nav toggle">
				<a id="menu_toggle"><i class="fa fa-bars"></i></a>
			</div>

			<ul class="nav navbar-nav navbar-right">
				<li class=""><a href="javascript:;"
					class="user-profile dropdown-toggle" data-toggle="dropdown"
					aria-expanded="false"> <img src="/images/user.png" alt="">
						<span th:text="${session.username}" style="text-transform: capitalize;margin-right: 10px">John Doe</span><span
						class=" fa fa-angle-down"></span>
				</a>
					<ul class="dropdown-menu dropdown-usermenu pull-right">
						<li><a href="javascript:;"> Profile</a></li>
						<li><a data-th-href="@{/logout}"><i
								class="fa fa-sign-out pull-right"></i> Log Out</a></li>
					</ul></li>
			</ul>
		</nav>
	</div>
</div>