<!-- sidebar menu student-->
            <div id="sidebar-menu-student" class="main_menu_side hidden-print main_menu" data-th-fragment="sidebar-menu-student">
              <div class="menu_section">
                <h3>Student</h3>
                <ul class="nav side-menu">
                  <li><a data-th-href="@{/index}"><i class="fa fa-home"></i> Home</a>
                  </li>
                  
                  <li><a data-th-href="@{/student/viewModules}"><i class="fa fa-desktop"></i> Modules</a>
                  </li>
				  <li><a data-th-href="@{/student/viewChapters}"><i class="fa fa-folder"></i> Chapters</a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /sidebar menu -->