<!-- sidebar menu student-->
            <div id="sidebar-menu-admin" class="main_menu_side hidden-print main_menu" data-th-fragment="sidebar-menu-admin">
              <div class="menu_section">
                <h3>Admin</h3>
                <ul class="nav side-menu">
                  <li><a data-th-href="@{/dashboard}"><i class="fa fa-home"></i>Dashboard</a>
                  </li>
                  
                  <li>
                  	<a data-th-href="@{/admin/modulesView}"><i class="fa fa-desktop"></i> Modules</a>
                  </li>
				  <li><a data-th-href="@{/admin/chaptersView}"><i class="fa fa-folder"></i> Chapters</a></li>
				  <li><a data-th-href="@{/admin/lessonsView}"><i class="fa fa-book"></i> Lessons</a></li>
                  <li><a data-th-href="@{/admin/contacts}"><i class="fa fa-users"></i> Users</a>
                  </li>
				  <li><a data-th-href="@{/admin/testsView}"><i class="fa fa-database"></i> Tests Bank</a></li>
				  <li><a data-th-href="@{/admin/questionsView}"><i class="fa fa-database"></i> Questions Bank</a></li>
                </ul>
              </div>
            </div>
            <!-- /sidebar menu -->