<!-- menu profile quick info -->
<div class="profile clearfix" data-th-fragment="menu-profile-quick-info">
	<div class="profile_pic">
		<img src="/images/user.png" alt="..." class="img-circle profile_img">
	</div>
	<div class="profile_info">
		<span>Welcome,</span>
		<h2 th:text="${session.username}" style="text-transform: capitalize">Raissa Ismaelle</h2><br>
		
	</div>
	<div class="clearfix"></div>
</div>
<!-- /menu profile quick info -->
