<footer data-th-fragment="footer-content">
	<div class="pull-right">
		Computer Aided Learning Platform- Software Designed by <a
			href="https://colorlib.com">Ismaelle</a>
	</div>
	<div class="clearfix"></div>
</footer>