<!DOCTYPE html>
<html data-layout-decorate="~{/fragments/layout}">
<head>
<meta charset="UTF-8">
<title>Dashboard</title>
</head>
<body>
	<!-- page content -->
	<div class="right_col" role="main" data-layout-fragment="content">
		<!-- top tiles -->
		<div class="row tile_count">
			<div class="page-title">
				<div class="title_left">
					<h1>Dashboard</h1>
				</div>
				<div class="clearfix"></div>

				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel" style="height: 600px;">
							<div class="x_title">
								<h2>Statistics</h2>
								<ul class="nav navbar-right panel_toolbox">
									<li><a class="collapse-link"><i
											class="fa fa-chevron-up"></i></a></li>
									<li class="dropdown"><a href="#" class="dropdown-toggle"
										data-toggle="dropdown" role="button" aria-expanded="false"><i
											class="fa fa-wrench"></i></a>
										<ul class="dropdown-menu" role="menu">
											<li><a href="#">Settings 1</a></li>
											<li><a href="#">Settings 2</a></li>
										</ul></li>
									<li><a class="close-link"><i class="fa fa-close"></i></a>
									</li>
								</ul>
								<div class="clearfix"></div>
							</div>
							<div class="x_content">
								<div class="row">

									<div class="col-md-12">

										<!-- price element -->
										<div class="col-md-3 col-sm-6 col-xs-12">
											<div class="pricing">
												<div class="title">
													<h1>User's Statistics</h1>
												</div>
												<div class="x_content">
													<div class="">
														<div class="pricing_features">
															<div class="col-md-4 col-sm-4 col-xs-8 tile_stats_count">
																<span class="count_top"><i class="fa fa-user"></i>
																	Total Users</span>
																<div class="count" th:text="${nbUsers}">25</div>
																<span class="count_bottom"><i class="green">4%
																</i> </span>
															</div>
															<div class="col-md-4 col-sm-4 col-xs-8 tile_stats_count">
																<span class="count_top"><i class="fa fa-user"></i>
																	Total Males</span>
																<div class="count green">5</div>
																<span class="count_bottom"><i class="green"><i
																		class="fa fa-sort-asc"></i>65% </i> </span>
															</div>
															<div class="col-md-4 col-sm-4 col-xs-8 tile_stats_count">
																<span class="count_top"><i class="fa fa-user"></i>
																	Total Females</span>
																<div class="count">3</div>
																<span class="count_bottom"><i class="red"><i
																		class="fa fa-sort-desc"></i>35% </i> </span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- price element -->

										<!-- price element -->
										<div class="col-md-3 col-sm-6 col-xs-12">
											<div class="pricing ui-ribbon-container">
												<div class="title">
													<h1>Questions Statistics</h1>
												</div>
												<div class="x_content">
													<div class="">
														<div class="pricing_features">
															<div
																class="col-md-12 col-sm-6 col-xs-12 tile_stats_count">
																<span class="count_top"><i class="fa fa-clock-o"></i>
																	Total number of questions in database</span>
																<div class="count" th:text="${nbQuestions}">10</div>
																<span class="count_bottom"><i class="green"><i
																		class="fa fa-sort-asc"></i>25% </i> </span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- price element -->

										<!-- price element -->
										<div class="col-md-3 col-sm-6 col-xs-12">
											<div class="pricing">
												<div class="title">
													<h1>Lessons Statistics</h1>
												</div>
												<div class="x_content">
													<div class="">
														<div class="pricing_features">
															<div
																class="col-md-12 col-sm-4 col-xs-12 tile_stats_count">
																<span class="count_top"><i class="fa fa-clock-o"></i>
																	Total number of lessons in database</span>
																<div class="count" th:text="${nbLessons}">100</div>
																<span class="count_bottom"><i class="green"><i
																		class="fa fa-sort-asc"></i>25% </i> </span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- price element -->

										<!-- price element -->
										<div class="col-md-3 col-sm-6 col-xs-12">
											<div class="pricing">
												<div class="title">
													<h1>Best Users</h1>
												</div>
												<div class="x_content">
													<div class="">
														<div class="pricing_features">
															<div
																class="col-md-12 col-sm-4 col-xs-12 tile_stats_count">
																<span class="count_top"><i class="fa fa-clock-o"></i>
																	Number of students with best score</span>
																<div class="count" >1</div>
																<span class="count_bottom"><i class="green"><i
																		class="fa fa-sort-asc"></i>25% </i> </span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- price element -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /page content -->
</body>
</html>