<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Login | E-Learning Platform!</title>

<!-- Bootstrap -->
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Font Awesome -->
<link href="/webjars/font-awesome/css/font-awesome.min.css"
	rel="stylesheet">
<!-- NProgress -->
<link href="/webjars/nprogress/nprogress.css" rel="stylesheet">
<!-- Animate.css -->
<link href="../webjars/animate.css/animate.min.css" rel="stylesheet">

<!-- Custom Theme Style -->
<link href="/css/custom.min.css" rel="stylesheet">
</head>

<body class="login">
	<div>
		<a class="hiddenanchor" id="signup"></a> <a class="hiddenanchor"
			id="signin"></a>

		<div class="login_wrapper">
			<div class="animate form login_form">
				<section class="login_content">
					<p th:text="${message}" style="color: red;">Username ou Mot de
						passe incorrect</p>
					<form action="#" th:action="@{/login}" th:object="${userForm}"
						method="post">
						<h1>Login Form</h1>
						<div>
							<input type="text" class="form-control" placeholder="Username"
								th:field="*{username}" required="" />
						</div>
						<div>
							<input type="password" class="form-control"
								placeholder="Password" th:field="*{password}" required="" />
						</div>
						<div>
							<input type="submit" class="btn btn-default submit"
								value="Log in" /> <a class="reset_pass" href="#">Lost your
								password?</a>
						</div>

						<div class="clearfix"></div>

						<div class="separator">
							<p class="change_link">
								New to site? <a href="#signup" class="to_register"> Create
									Account </a>
							</p>

							<div class="clearfix"></div>
							<br />

							<div>
								<h1>
									<i class="fa fa-paw"></i> Computer Aided learning Platform!
								</h1>
								<p>©2019 All Rights Reserved. Computer Aided learning
									Platform! the best platform for all students. Privacy and Terms</p>
							</div>
						</div>
					</form>
				</section>
			</div>

			<div id="register" class="animate form registration_form">
				<section class="login_content">
					<form action="/index" method="post">
						<h1>Create Account</h1>
						<div>
							<input type="text" class="form-control" placeholder="FirstName"
								required="" />
						</div>
						<div>
							<input type="text" class="form-control" placeholder="LastName"
								required="" />
						</div>
						<div>
							<label for="sex-select">Choose a Sex:</label> <select name="Sex">
								<option value="Female">F</option>
								<option value="Male">M</option>
							</select>
						</div>
						<div>
							<input type="text" class="form-control" placeholder="Class"
								required="" />
						</div>
						<div>
							<input type="text" class="form-control" placeholder="Username"
								required="" />
						</div>
						<div>
							<input type="password" class="form-control"
								placeholder="Password" required="" />
						</div>
						<div>
							<input type="password" class="form-control"
								placeholder="Confirm your Password" required="" />
						</div>
						<div>
							<div class="col-md-4">
								<input type="reset" class="btn btn-default" value="Reset">
							</div>
							<div class="col-md-2">
								
							</div>
							<div class="col-md-4">
								<input type="submit" class="btn btn-primary" value="Submit" />
							</div>
						</div>

						<div class="clearfix"></div>

						<div class="separator">
							<p class="change_link">
								Already a member ? <a href="#signin" class="to_register">
									Log in </a>
							</p>

							<div class="clearfix"></div>
							<br />

							<div>
								<h1>
									<i class="fa fa-paw"></i> Computer Aided learning Platform!
								</h1>
								<p>©2019 All Rights Reserved. Computer Aided learning
									Platform! the best platform for all students. Privacy and Terms</p>
							</div>
						</div>
					</form>
				</section>
			</div>
		</div>
	</div>
</body>
</html>